@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&display=swap');

$darkColor: #091921;
$unitSize: 150px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Srisakdi', cursive;
}

body.theme.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to bottom, #004e92, #000428);

  background-size: cover;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  .calculator-container {
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;

    .calculator {
      position: relative;
      display: grid;

      .result {
        grid-column: span 4;
        width: 2 * $unitSize;
        height: $unitSize;
        text-align: right;
        border: none;
        padding: 1rem;
        font-size: 3rem;
        background: transparent;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        overflow-wrap: break-word;
      }

      span.num {
        display: grid;
        place-items: center;
        width: $unitSize/2;
        height: $unitSize/2;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 2rem;
        user-select: none;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        border-left: 1px solid rgba(255, 255, 255, 0.05);
        transition: 0.5s;

        &:hover {
          transition: 0s;
          background: rgba(255, 255, 255, 0.05);
        }

        &:active {
          background: green;
          color: $darkColor;
          font-size: 2.1rem;
          font-weight: bold;
        }
      }
    }
  }
}
