@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$themeColor: #e9e9e9;
$signColor: #347e4d;
$unitSize: 60px;
$unitPadding: 16px;
$radius: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

@mixin shadow {
  box-shadow: -6px -6px 9px rgba(255, 255, 255, 1), 6px 6px 9px rgba(0, 0, 0, 0.4);
}

@mixin shadow-inset {
  box-shadow: inset -6px -6px 9px rgba(255, 255, 255, 1), inset 6px 6px 9px rgba(0, 0, 0, 0.4);
}

body.theme.neumorphic {
  background-color: $themeColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .calculator-container {
    @include shadow;
    padding: 2rem;
    border-radius: $radius;

    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0.8rem;
      margin-top: 20px;
      .result {
        grid-column: span 4;
        @include shadow-inset;
        width: 5 * $unitSize;
        height: $unitSize;
        // padding: 16px 32px;
        padding-top: $unitPadding;
        padding-right: 2 * $unitPadding;
        text-align: right;
        border: none;
        border-radius: $radius;
        text-shadow: -1px -1px 2px rgba(255, 255, 255, 1), 2px 2px 2px rgba(0, 0, 0, 0.4);
      }

      span.num {
        @include shadow;
        display: grid;
        place-items: center;
        width: $unitSize;
        height: $unitSize;
        border-radius: $radius;
        cursor: pointer;
        background-color: $themeColor;
        transition: all 0.2s;

        &:hover {
          background: rgba(204, 204, 204, 0.3);
        }
        &:active {
          @include shadow-inset;
        }

        &.sign {
          color: $signColor;
          &:active,
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
