$backColor: #003a7e;
$backColor2: #004e92;
$lightColor: #e9eaeb;
$toggleHeight: 30px;
$toggleWidth: 2 * $toggleHeight;

body {
  &.theme.glass {
    .toggle {
      background-color: $backColor;
    }
    .indicator {
      background: linear-gradient(to bottom, $backColor, $backColor2);
    }
  }
  &.theme.neumorphic {
    .toggle {
      background-color: $lightColor;
    }
    .indicator {
      background: linear-gradient(to bottom, $lightColor, #f9f9f9);
    }
  }

  .toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: $toggleWidth;
    height: $toggleHeight;
    border-radius: $toggleHeight;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    &.active {
      background: $lightColor;
      box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1),
        inset 0 -4px 8px rgba(0, 0, 0, 0.05);
      .indicator {
        left: $toggleHeight;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), inset 0 4px 4px rgba(255, 255, 255, 1),
          inset 0 -4px 4px rgba(255, 255, 255, 1);
      }
    }
    .indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: $toggleHeight;
      height: $toggleHeight;
      border-radius: $toggleHeight;
      transform: scale(0.9);
      box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2),
        inset 0 -4px 4px rgba(255, 255, 255, 0.2);
      transition: 0.5s;
    }
  }
}
